<div bsModal #myModal="bs-modal" class="modal fade" id="exampleModal" tabindex="-1" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seçtğiniz Okul Bilgileri</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <label for="menuName"></label>
        <!-- <div class="form-group">
          <input
            type="text"
            id="menuName"
            formControlName="name"
            class="form-control"
            placeholder="Menü adı"
          />
      </div> -->

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://scontent.fesb10-3.fna.fbcdn.net/v/t1.6435-9/105707767_3224631664225276_3251863682170934505_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=6AQ8z0EYDv8AX9oJDtW&_nc_ht=scontent.fesb10-3.fna&oh=00_AfBc1JhUfBGDiVTTNC5tuTlhj7w8boU6BL2fguHedcfMZQ&oe=63F9EBC1" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body" *ngIf="bol">
              <h5 class="card-title">{{sc.name}}</h5>
              <p class="card-text">Okulda derslerimizin   Başlangıç saati {{sc.startDate }} ve bitiş saati {{ sc.endDate}} olarak belirlenmiştir.</p>
              <p class="card-text"><small class="text-muted">Okulumuza eklemek istediğiniz dersleri aşağıdan seçebilirsiniz.</small></p>
            </div>
          </div>
        </div>
      </div>
<div>
  <h2 *ngIf="bol">Eklenebilir Dersler</h2>
  <app-lessonChild (cl)="getDataFromChild($event)"></app-lessonChild>
</div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveButton(sc)" >Save changes</button>
      </div>
    </div>
  </div>

</div>




